html,
body{
    margin: 0;
}

.user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 30%;
    margin: 1% 0;
    height: 100%;
    border-radius: 15px;
}

.commentary-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: antiquewhite;
    margin-top: 1%;
}

.commentary-header{
    display: flex;
    justify-content: space-between;
    background-color: #d0cece;
}

.commentary-body{
    margin: 2% 0;
}
.reply-container{
    margin: 2% 0 2% 10%;
}