html,
body{
    margin: 0;
}

.user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 30%;
    margin: 1% 0;
    height: 100%;
    border-radius: 15px;
}

.commentary-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: antiquewhite;
}

.commentary-header{
    display: flex;
    justify-content: space-between;
    background-color: #808080;
}
