{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<form method="post" class="user-form" action="{% url 'main' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
        Отправить
    </button>
</form>

<div class="commentary-list" id="comments-container">
    {% for commentaries in comments %}
        <div class="commentary-header">
            {{ commentaries.name }}
            <button onclick="selectedCommentId({{ commentaries.id }})">
                Ответить
            </button>
        </div>
        <div class="commentary-body">
            {{ commentaries.comment_text }}
        </div>
        <div class="reply-container">
            {% if commentaries.replies.exists %}
                {% for reply in commentaries.replies.all %}
                    <div class="commentary-header">
                        {{ reply.name }} ответил/а {{ commentaries.name }}
                        <button onclick="selectedCommentId({{ commentaries.id }})">
                            Ответить
                        </button>
                    </div>
                    <div class="commentary-body">
                        {{ reply.comment_text }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>